/*font-family: 'Roboto', sans-serif; */

body {
    background: #E5E5E5;

}

.container {
    width: 950px;
    height: 500px;
    position: relative;
    margin: 30px;
  }
  
  .box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 60px;
    opacity: 0.7;
    background: #0057e3;
  }
  
  .overlay {
    width: 450;
    height: 300;
    top: 35px;
    z-index: 6;
    left: 800px;
    margin: 15px;
    background: #009938;
  }